
body {
   font-family: 'COUTUREBold';
   font-style: normal;
   color: white;
   background-color: #C7D8C6;
   background: url(background.jpg);
   background-size: cover;
   background-repeat: repeat;
   background-size:100% 100vh;
   /*padding-top: 5vh;*/
/*   position: absolute;*/
  overflow: scroll;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
.HeaderDiv {
  font-family: 'lobster';
  text-align: center;
  line-height: 8vh;
  font-size: 350%;
  vertical-align: top;
  width:50vw;
  height: 8vh;
  margin: auto;
  cursor: pointer;
  /*background-color: #A9B7C0;*/
  border-radius: 5px;

}

.BuzzHeader {
  margin-top: 10%;
}
.HoodSelectionDiv {
  margin: auto;
  margin-top: 5%;
  line-height: 13vh;
  text-align: center;
  justify-content: center;
  width: 70vw;
  height: 13vh;
  border-radius: 5px;
  background-color: #a291bc;
}

.BackButton {
  float: left;
  width: 10vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.HoodLabel {
  margin: auto;
  text-align: center;
  margin-right: 26vw;
  width: 20vw;
}

.HoodNameDiv {
  text-align: center;
  line-height: 10vh;
  vertical-align: middle;
  margin:auto;
  width: 70vw;
  height: 10vh;
  border-radius: 5px;
  background-color: #73627c;
  margin-top: 1%;
  cursor: pointer;
  font-size: 125%;
}

.ButtonsDiv {
  margin: auto;
  width: 70vw;
  height: 50vh;
  padding: 1%;
  text-align:center;
  font-size: 125%;
  color: white;
}

.HappyHourButton {
  font-family: 'COUTUREBold';
  margin: auto;
  width: 70vw;
  height: 15vh;
  margin-bottom: 2%;
  font-size: 100%;
  color: white;
  background-color: #73627c;
  border: 0;
  border-radius: 5px;

}
.VibesButton {
  font-family: 'COUTUREBold';
  margin: auto;
  width: 70vw;
  height: 15vh;
  font-size: 100%;
  color: white;
  background-color:  #73627c;
  border: 0;
  border-radius: 5px;
}

.VibesButtonsContainer {
  margin: auto;
  width: 35vw;
  height: 35vh;
  text-align: center;
  font-size: 200%;
  color: white;
}

.VibesChoiceButton {
  font-family: 'COUTUREBold';
  margin: 3%;
  width: 15vw;
  height: 10vh;
  font-size: 75%;
  color: white;
  background-color: #a6c4c0;
  border: 0;
  border-radius: 5px;
}

.BarListItem {
  margin:auto;
  width: 70vw;
  height: 25vh;
  border-radius: 5px;
  border: 2px solid #6726e0;
  background-color: #73627c;
  text-align: center;

  overflow: hidden;
  margin-top: 2%;

}
.BarNameHeader {
  margin-top: 0.2%;
}
.HappyHourHeader {

}


.VibeMatchList {
  margin:auto;
  width: 70vw;
  height: 20vh;
  border-radius: 5px;
  background-color: #73627c;
  text-align: center;
}

.AttributeLabel {
  width:15vw;
  height: 4vh;
  white-space: nowrap;
  background-color: #a291bc;
  border-radius: 20px;
  text-align: center;
  line-height: 4vh;
  vertical-align: middle;
  /*float: left;*/
  margin-left: 2%;
  margin-top: 0%;
  display: inline-block;
  box-sizing: content-box;
  overflow: hidden;
  font-size: 1.5vw;

}
#signup-container {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: block;
}

#signup-box {
    width: 500px;
    height: 260px;
    background: white;
    position: absolute;
    z-index: 100;
    top: calc(50% - 130px);
    left: calc(50% - 250px);
    border-radius: 10px;
}

#login-container {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: block;
}

#login-box {
    width: 500px;
    height: 260px;
    background: black;
    position: absolute;
    z-index: 100;
    top: calc(50% - 130px);
    left: calc(50% - 250px);
    border-radius: 10px;
}
