
body {
   font-family: 'COUTUREBold';
   font-style: normal;
   color: white;
   background-color: #C7D8C6;
   background: url(background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-size:100% 100vh;
   padding-top: 5vh;
/*   position: absolute;*/
}

li {
  list-style: none;
}

.HeaderDiv {
  font-family: 'lobster';
  text-align: center;
  line-height: 15vh;
  font-size: 350%;
  vertical-align: bottom;
  width:70vw;
  height: 12vh;
  margin: auto;
  /*background-color: #A9B7C0;*/
  border-radius: 5px;

}
.HoodSelectionDiv {
  margin: auto;
  line-height: 13vh;
  text-align: center;
  width: 50vw;
  height: 13vh;
  border-radius: 5px;
  background-color: #CCCBC6
}

.HoodNameDiv {
  text-align: center;
  line-height: 10vh;
  vertical-align: middle;
  margin:auto;
  width: 50vw;
  height: 10vh;
  border-radius: 5px;
  background-color: #984B43;
  margin-top: 1%;
  cursor: pointer;
  font-size: 125%;
}

.ButtonsDiv {
  margin: auto;
  width: 35vw;
  height: 50vh;
  padding: 1%;
  text-align:center;
  font-size: 125%;
  color: white;
}

.HappyHourButton {
  font-family: 'COUTUREBold';
  margin: auto;
  width: 50vw;
  height: 15vh;
  margin-bottom: 5%;
  font-size: 100%;
  color: white;
  background-color: #984B43;
  border: 0;
  border-radius: 5px;

}
.VibesButton {
  font-family: 'COUTUREBold';
  margin: auto;
  width: 50vw;
  height: 15vh;
  font-size: 100%;
  color: white;
  background-color: #984B43;
  border: 0;
  border-radius: 5px;
}

.VibesButtonsContainer {
  margin: auto;
  width: 35vw;
  height: 35vh;
  text-align: center;
  font-size: 200%;
  color: white;
}

.VibesChoiceButton {
  font-family: 'COUTUREBold';
  margin: 3%;
  width: 15vw;
  height: 10vh;
  font-size: 75%;
  color: white;
  background-color: #a6c4c0;
  border: 0;
  border-radius: 5px;
}

.BarListItem {
  margin:auto;
  width: 50vw;
  height: 20vh;
  border-radius: 5px;
  background-color: #a6c4c0;
}
